.Button {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 6px;
    border-radius: 12px;
    background-color: black;
    border: 2px solid transparent;
}

.Button:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}
