.Vertical {
    display: none;
}

@media (max-width: 768px) {
    .Vertical {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        height: 100%;
    }
    .VerticalTrigger {
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .VerticalNavigation {
        position: absolute;
        top: 81px;
        height: calc(100vh - 81px);
        width: clamp(225px, 50vw, 335px);
        background-color: white;
        border-left: 1px solid var(--black-5);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 16px 0px 16px 16px;
        gap: 32px;
    }
}
